@import url("https://fonts.googleapis.com/css?family=Ubuntu");

* {
  box-sizing: border-box;
}

body {
  font-family: "Ubuntu", sans-serif;
  margin: 0;
  display: flex;
  align-items: center;
  height: 100vh;
  justify-content: center;
  overflow: hidden;
}

.bg {
  background: url("./img/nathan-dumlao-pMW4jzELQCw-unsplash.jpg") no-repeat center/cover;
    position: absolute;
    top: -30px;
    left: -30px;
    /*macete para nao ficar as bordas tao brancas quando estiver desfocado*/
    
    /* top: 0px;
    left: 0px; */
    /* width: 100vw;
    height: 100vh; */
    width: calc(100vw + 60px);
    height: calc(100vh + 60px);
    z-index: -1;
    filter: blur(30px);

}

.loading-text{
    font-size: 50px;
    color: white;
}
