@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

*{
    box-sizing: border-box;
}

body{
    background: linear-gradient(0.25turn, #3f87a6, #ebf8e1, #b89672);    font-family: 'Roboto', sans-serif;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 100vh;
    overflow: hidden;
    padding: 20px;
}


#buttons{
    border: 2px solid black;
    box-shadow: 5px 5px 15px rgba( 0, 0, 0, 0.5);
    padding: 15px;
}


.btn{
    background-color: rgba(0, 0, 0, 0.712);
     font-family: 'Roboto', sans-serif;
    border: none;
    border-radius: 5px;
    color: white;
    margin: 1rem;
    padding: 1.5rem 3rem;
    font-family: inherit;
    cursor: pointer;
    text-transform: uppercase;
    letter-spacing: 2px;
    
}


.btn:hover{
    opacity: 0.7;
    transform: scale(0.95);
}